[Unit]
Description=Runcalcbot
After=multi-user.target
Wants=multi-user.target

[Service]
User=kptdh
Environment=
EnvironmentFile=/home/kptdh/runcalc-bot/.env
ExecStart=/home/kptdh/runcalc-bot/aiogram_bot.py
WorkingDirectory=/home/kptdh/runcalc-bot
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

[Install]
WantedBy=multi-user.target
