[Unit]
Description=Runcalcbot
After=multi-user.target
Wants=multi-user.target

[Service]
User={{ UserName }}
Environment=
EnvironmentFile=/home/{{ UserName }}/runcalc-bot.env
ExecStart=/home/{{ UserName }}/runcalc-bot/aiogram_bot.py
WorkingDirectory=/home/{{ UserName }}/runcalc-bot
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

[Install]
WantedBy=multi-user.target
