[Unit]
Description=Runcalc-bot
After=multi-user.target
Wants=multi-user.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/runcalc-bot.env
ExecStart=/home/ubuntu/runcalc-bot/aiogram_bot.py
WorkingDirectory=/home/ubuntu/runcalc-bot
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

[Install]
WantedBy=multi-user.target
